In [95]:
import pandas as pd

data_confirmed = pd.read_csv("time_series_covid19_confirmed_global.csv")
data_recovered = pd.read_csv("time_series_covid19_recovered_global.csv")
data_death     = pd.read_csv("time_series_covid19_deaths_global.csv")


#data_salida_confirmed = data_confirmed[["Province/State","Country/Region","Lat","Long"]]
#data_salida_recovered = data_recovered[["Province/State","Country/Region","Lat","Long"]]
#data_salida_death = data_death[["Province/State","Country/Region","Lat","Long"]]

data_salida_confirmed = pd.DataFrame() 
data_salida_recovered = pd.DataFrame()
data_salida_death = pd.DataFrame()
data_salida_confirmed["Province/State"] = data_confirmed["Province/State"] 
data_salida_confirmed["Country/Region"] = data_confirmed["Country/Region"] 
data_salida_confirmed["Lat"] = data_confirmed["Lat"]
data_salida_confirmed["Long"] = data_confirmed["Long"]

#data_salida_recovered["Province/State"] = data_recovered["Province/State"] 
data_salida_recovered["Country/Region"] = data_recovered["Country/Region"] 
#data_salida_recovered["Lat"] = data_recovered["Lat"]
#data_salida_recovered["Long"] = data_recovered["Long"]

#data_salida_death["Province/State"] = data_death["Province/State"] 
data_salida_death["Country/Region"] = data_death["Country/Region"] 
#data_salida_death["Lat"] = data_death["Lat"]
#data_salida_death["Long"] = data_death["Long"]


columna_anterior = ""
for columna in data_confirmed.columns[5:]:
    if(columna_anterior == ""):
        #print("no se hace nada")
        pass
    else:
        #print(columna + " y " + columna_anterior)
        data_salida_confirmed[columna] = data_confirmed[columna] - data_confirmed[columna_anterior]
        data_salida_recovered[columna] = data_recovered[columna] - data_recovered[columna_anterior]
        data_salida_death[columna]     = data_death[columna]     - data_death[columna_anterior]
    columna_anterior = columna
    
entrada = {"Province/State":""}   #,"Country/Region":"","Lat":"","Long":""}
salida = []
#index = 0
#data_salida = pd.DataFrame()

data_salida = pd.DataFrame(columns=data_salida_confirmed.columns[:4])

lista_confirmed = list(data_salida_confirmed.iterrows())
lista_recovered = list(data_salida_recovered.iterrows())
lista_death = list(data_salida_death.iterrows())

n = 0
for i in range(len(lista_confirmed)):
    for columna in data_salida_confirmed.columns[4:]:         
        #print(columna)
        #print(i[1][columna])
        entrada["Province/State"] = lista_confirmed[i][1]["Province/State"]
        entrada["Country/Region"] = lista_confirmed[i][1]["Country/Region"]
        entrada["Lat"] = lista_confirmed[i][1]["Lat"]
        entrada["Long"] = lista_confirmed[i][1]["Long"]
        entrada["fecha"] = columna
        entrada["confirmados"] = lista_confirmed[i][1][columna]
        #entrada["recuperados"] = lista_recovered[i][1][columna]
        entrada["fallecidos"] = lista_death[i][1][columna]
        salida.append(data_salida.append(entrada,ignore_index=True))
data_salida = pd.concat(salida)

In [96]:
#data_salida_confirmed.head()
#data_salida_recovered.head()
#data_salida_death.head()
#data_salida_confirmed["aux"] = data_confirmed["3/29/20"] - data_confirmed["3/28/20"]
data_salida.to_excel("test3.xlsx",index=False)

In [93]:
data_salida.head()

,Province/State,Country/Region,Lat,Long,confirmados,fallecidos,fecha,recuperados
0,NaN,Afghanistan,33.0,65.0,0.0,0.0,1/24/20,0.0
0,NaN,Afghanistan,33.0,65.0,0.0,0.0,1/25/20,0.0
0,NaN,Afghanistan,33.0,65.0,0.0,0.0,1/26/20,0.0
0,NaN,Afghanistan,33.0,65.0,0.0,0.0,1/27/20,0.0
0,NaN,Afghanistan,33.0,65.0,0.0,0.0,1/28/20,0.0

In [35]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = 1

In [84]:
lista_confirmed[253][1]["Country/Region"]

IndexError: list index out of range

In [88]:
data_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,24,24,40,40,74,84,94,110,110,120
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,70,76,89,104,123,146,174,186,197,212
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,90,139,201,230,264,302,367,409,454,511
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,75,88,113,133,164,188,224,267,308,334
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,1,2,2,3,3,3,4,4,5,7

In [100]:
data_recovered[data_recovered["Country/Region"] == "Chile"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
39,NaN,Chile,-35.6751,-71.543,0,0,0,0,0,0,...,6,6,8,8,17,22,22,43,61,75